.wrapper {
	max-width: 75rem;
	padding: 0 2rem;
	margin: 0 auto;
}

@media (min-width: 768px) {

	.wrapper {
		padding: 0 4rem;
	}
}

.wrapper-medium {
	max-width: 50rem;
	margin: 0 auto;
}

.wrapper-small {
	max-width: 42.5rem;
	margin: 0 auto;
}

.section {
	margin-bottom: 2.5rem;
	padding: 1.5rem 0;
}

@media (min-width: 768px) {

	.section {
		margin-bottom: 3.75rem;
	}
}

@media (min-width: 768px) {

	.section {
		padding: 2rem 0;
	}
}

.flex.flex-all {
	display: flex;
	flex-direction: wrap;
}

@media (min-width: 500px) {

	.flex.flex-all {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.flex.flex-medium {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {

	.flex.flex-medium {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

.flex.flex-large {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1200px) {

	.flex.flex-large {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

.flex.flex-wrap {
	flex-wrap: wrap;
}

.flex.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.flex.flex-space-between {
	justify-content: space-between;
}

.flex.flex-align-center {
	align-items: center;
}

.flex-3,
.wp-block-group.is-style-flex-3 > .wp-block-group__inner-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (min-width: 500px) {

	.flex-3,
	.wp-block-group.is-style-flex-3 > .wp-block-group__inner-container {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.flex-3 > *,
.wp-block-group.is-style-flex-3 > .wp-block-group__inner-container > * {
	width: 100%;
}

@media (min-width: 500px) {

	.flex-3 > *,
	.wp-block-group.is-style-flex-3 > .wp-block-group__inner-container > * {
		width: 48%;
	}
}

@media (min-width: 768px) {

	.flex-3 > *,
	.wp-block-group.is-style-flex-3 > .wp-block-group__inner-container > * {
		width: 32%;
	}
}

.flex-3::after,
.wp-block-group.is-style-flex-3 > .wp-block-group__inner-container::after {
	content: "";
	display: block;
	margin-left: 32%;
}

.flex-2,
.wp-block-group.is-style-flex-2 > .wp-block-group__inner-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (min-width: 768px) {

	.flex-2,
	.wp-block-group.is-style-flex-2 > .wp-block-group__inner-container {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.flex-2 > *,
.wp-block-group.is-style-flex-2 > .wp-block-group__inner-container > * {
	width: 100%;
}

@media (min-width: 768px) {

	.flex-2 > *,
	.wp-block-group.is-style-flex-2 > .wp-block-group__inner-container > * {
		width: 48%;
	}
}

.wp-block-group.is-style-flex-3 > .wp-block-group__inner-container > *,
.wp-block-group.is-style-flex-2 > .wp-block-group__inner-container > * {
	margin-bottom: 1rem;
}

.margin-bottom-0 {
	margin-bottom: 1.25rem;
}

@media (min-width: 768px) {

	.margin-bottom-0 {
		margin-bottom: 1.875rem;
	}
}

.margin-bottom-1 {
	margin-bottom: 2.5rem;
}

@media (min-width: 768px) {

	.margin-bottom-1 {
		margin-bottom: 3.75rem;
	}
}

.margin-bottom-2 {
	margin-bottom: 5rem;
}

@media (min-width: 768px) {

	.margin-bottom-2 {
		margin-bottom: 6.25rem;
	}
}

button:not(button[class*="block-editor"]),
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"],
.home .nav-links a,
.search .nav-links a,
.archive .nav-links a,
.wp-block-button__link,
.translate-post-content > a {
	border: 0.08rem solid transparent;
	border-radius: 0.125rem;
	font-size: 1rem;
	line-height: 1;
	padding: 0.3em 0.8em 0.4em;
	transition: 0.3s all;
}

button:not(button[class*="block-editor"]):hover,
.btn:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.home .nav-links a:hover,
.search .nav-links a:hover,
.archive .nav-links a:hover,
.wp-block-button__link:hover,
.translate-post-content > a:hover {
	border-color: transparent;
	text-decoration: none;
	cursor: pointer;
}

button:not(button[class*="block-editor"]):active,
.btn:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.home .nav-links a:active,
.search .nav-links a:active,
.archive .nav-links a:active,
.wp-block-button__link:active,
.translate-post-content > a:active {
	border-color: #aaa #bbb #bbb;
	text-decoration: none;
}

button:not(button[class*="block-editor"]):focus,
.btn:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.home .nav-links a:focus,
.search .nav-links a:focus,
.archive .nav-links a:focus,
.wp-block-button__link:focus,
.translate-post-content > a:focus {
	border-color: #fff;
	outline: none;
	box-shadow: 0 0 0 0.16rem #36c;
}

.wp-block-button {
	border-radius: 0.125rem;
}

.btn-dark,
input[type="button"],
input[type="reset"],
input[type="submit"],
.home .nav-links a,
.search .nav-links a,
.archive .nav-links a,
.wp-block-button__link {
	background-color: #202122;
	color: #fff;
}

.btn-dark:visited,
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited,
.home .nav-links a:visited,
.search .nav-links a:visited,
.archive .nav-links a:visited,
.wp-block-button__link:visited {
	color: #fff;
}

.btn-dark:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.home .nav-links a:hover,
.search .nav-links a:hover,
.archive .nav-links a:hover,
.wp-block-button__link:hover {
	background-color: #54595d;
	color: #fff;
}

.btn-dark:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.home .nav-links a:active,
.search .nav-links a:active,
.archive .nav-links a:active,
.wp-block-button__link:active {
	color: #fff;
}

.btn-light,
.site-footer button,
.site-footer input[type="submit"],
.main-navigation button,
.main-navigation input[type="button"],
.translate-post-content > a,
.translate-post-content input[type="submit"] {
	background-color: #eaecf0;
	color: #202122;
	border-color: #202122;
}

.btn-light:visited,
.site-footer button:visited,
.site-footer input[type="submit"]:visited,
.main-navigation button:visited,
.main-navigation input[type="button"]:visited,
.translate-post-content > a:visited,
.translate-post-content input[type="submit"]:visited {
	color: #202122;
}

.btn-light:hover,
.site-footer button:hover,
.site-footer input[type="submit"]:hover,
.main-navigation button:hover,
.main-navigation input[type="button"]:hover,
.translate-post-content > a:hover,
.translate-post-content input[type="submit"]:hover {
	background-color: #c8ccd1;
	color: #000;
	border-color: #000;
}

.btn-light:active,
.site-footer button:active,
.site-footer input[type="submit"]:active,
.main-navigation button:active,
.main-navigation input[type="button"]:active,
.translate-post-content > a:active,
.translate-post-content input[type="submit"]:active {
	color: #54595d;
	border-color: #000;
}

.btn-accent,
.btn-accent > .wp-block-button__link {
	background-color: #36c;
	color: #fff;
}

.btn-accent:visited,
.btn-accent > .wp-block-button__link:visited {
	color: #fff;
}

.btn-accent:hover,
.btn-accent > .wp-block-button__link:hover {
	background-color: #2a4b8d;
	color: #fff;
}

.btn-accent:active,
.btn-accent > .wp-block-button__link:active {
	color: #fff;
}

.btn-big,
.btn-big > .wp-block-button__link {
	font-size: 1.25rem;
}

.entry-content a.wp-block-button__link,
.entry-content a.btn-accent {
	text-decoration: none;
}

.wp-block-group.is-style-flex-3 .wp-block,
.wp-block-group.is-style-flex-2 .wp-block {
	margin-left: initial;
	margin-right: initial;
}
