/* Events Calendar Pro CSS */

.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill {
	background-color: #F8F9FA;
	border: 1px solid #A2A9B1;
	border-radius: 2px;
	box-sizing: border-box;
	color: #202122;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	padding: 6px 12px;

}

.tribe-filter-bar .tribe-filter-bar-c-pill__pill {
	border-radius: 2px;
}

.tribe-common .tribe-common-c-btn-border-small
.tribe-common a.tribe-common-c-btn-border-small {
	border-radius: 2px;
	background-color: #F8F9FA;
}

.tribe-common .tribe-common-c-btn
.tribe-common a.tribe-common-c-btn {
	border-radius: 2px;
}

.tribe-events .tribe-events-c-ical__link {
	border-radius: 2px;
}

.tribe-events .datepicker .day
.tribe-events .datepicker .month
.tribe-events .datepicker .year {
	border-radius: 2px;
}

.tribe-filter-bar .tribe-filter-bar-c-pill--has-selections .tribe-filter-bar-c-pill__pill {
	border-radius: 2px;
}

.tribe-filter-bar .tribe-filter-bar-c-pill--button.tribe-filter-bar-c-pill--has-selections .tribe-filter-bar-c-pill__pill {
	padding: 6px 12px;
	padding-right: 32px;
	background-color: #C8CCD1;
	border: 1px solid #72777D;

}

.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill:hover
.tribe-filter-bar .tribe-filter-bar-c-pill--has-selections.tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill:hover {
	background-color: #FFF;
	border: 1px solid #A2A9B1;
}

.tribe-filter-bar button:focus
.tribe-events-l-container button:focus {
	box-shadow: none;
}

.tribe-common .tribe-common-c-btn
.tribe-common a.tribe-common-c-btn {
	background: #3366CC;
	font-weight: 700;
	padding: 6px 12px;

}

.tribe-common .tribe-common-c-btn:focus
.tribe-common .tribe-common-c-btn:hover
.tribe-common a.tribe-common-c-btn:focus
.tribe-common a.tribe-common-c-btn:hover {
	background: #447FF5;
	box-shadow: none;
}

.tribe-common .tribe-common-c-btn:active
.tribe-common a.tribe-common-c-btn:active {
	background: #2A4B8D;
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
	color: #36c;
}

.tribe-common .tribe-common-c-btn-border-small
.tribe-common a.tribe-common-c-btn-border-small {
	color: #202122;
	font-weight: 700;
}

.tribe-common .tribe-common-c-svgicon {
	color: #FFF;
}

.tribe-common .tribe-common-c-svgicon.tribe-events-c-messages__message-icon-svg {
	color:#72777d;
}

.tribe-events .tribe-events-c-ical__link {
	background: #3366CC;
	border-radius: 2px;
	border:none;
	color: #FFF !important;
	padding: 6px 12px;
}

.tribe-events .tribe-events-c-ical__link:hover  {
	background: #447FF5;
}

.tribe-events .tribe-events-c-ical__link:active  {
	background: #2A4B8D;
}

.tribe-events .tribe-events-c-ical__link:focus  {
	background: #3366CC;
	border: 2px solid #FFFFFF;
	box-shadow: inset 0px 1px 0px #3366CC
		inset 0px -1px 0px #3366CC
		inset -1px 0px 0px #3366CC
		inset 1px 0px 0px #3366CC;
}

.tribe-events .datepicker .month.active
.tribe-events .datepicker .month.active.focused {
	color: #36c;
	color:#FFF;
}

.tribe-events #legend li a {
	font-size:13px;
	border-radius: 2px;
}
