/* Events Calendar Pro CSS */

.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill {
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	box-sizing: border-box;
	color: #202122;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	padding: 6px 12px;

}

.tribe-filter-bar .tribe-filter-bar-c-pill__pill {
	border-radius: 2px;
}

.tribe-common .tribe-common-c-btn-border-small
.tribe-common a.tribe-common-c-btn-border-small {
	border-radius: 2px;
	background-color: #f8f9fa;
}

.tribe-common .tribe-common-c-btn
.tribe-common a.tribe-common-c-btn {
	border-radius: 2px;
}

.tribe-events .tribe-events-c-ical__link {
	border-radius: 2px;
}

.tribe-events .datepicker .day
.tribe-events .datepicker .month
.tribe-events .datepicker .year {
	border-radius: 2px;
}

.tribe-filter-bar .tribe-filter-bar-c-pill--has-selections .tribe-filter-bar-c-pill__pill {
	border-radius: 2px;
}

.tribe-filter-bar .tribe-filter-bar-c-pill--button.tribe-filter-bar-c-pill--has-selections .tribe-filter-bar-c-pill__pill {
	padding: 6px 12px;
	padding-right: 32px;
	background-color: #c8ccd1;
	border: 1px solid #72777d;

}

.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill:hover
.tribe-filter-bar .tribe-filter-bar-c-pill--has-selections.tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill:hover {
	background-color: #fff;
	border: 1px solid #a2a9b1;
}

.tribe-filter-bar button:focus
.tribe-events-l-container button:focus {
	box-shadow: none;
}

.tribe-common .tribe-common-c-btn
.tribe-common a.tribe-common-c-btn {
	background: #36c;
	font-weight: 700;
	padding: 6px 12px;

}

.tribe-common .tribe-common-c-btn:focus
.tribe-common .tribe-common-c-btn:hover
.tribe-common a.tribe-common-c-btn:focus
.tribe-common a.tribe-common-c-btn:hover {
	background: #447ff5;
	box-shadow: none;
}

.tribe-common .tribe-common-c-btn:active
.tribe-common a.tribe-common-c-btn:active {
	background: #2a4b8d;
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
	color: #36c;
}

.tribe-common .tribe-common-c-btn-border-small
.tribe-common a.tribe-common-c-btn-border-small {
	color: #202122;
	font-weight: 700;
}

.tribe-common .tribe-common-c-svgicon {
	color: #fff;
}

.tribe-common .tribe-common-c-svgicon.tribe-events-c-messages__message-icon-svg {
	color: #72777d;
}

.tribe-events .tribe-events-c-ical__link {
	background: #36c;
	border-radius: 2px;
	border: none;
	color: #fff !important;
	padding: 6px 12px;
}

.tribe-events .tribe-events-c-ical__link:hover {
	background: #447ff5;
}

.tribe-events .tribe-events-c-ical__link:active {
	background: #2a4b8d;
}

.tribe-events .tribe-events-c-ical__link:focus {
	background: #36c;
	border: 2px solid #fff;
	box-shadow:
		inset 0 1px 0 #36c
		inset 0 -1px 0 #36c
		inset -1px 0 0 #36c
		inset 1px 0 0 #36c;
}

.tribe-events .datepicker .month.active
.tribe-events .datepicker .month.active.focused {
	color: #36c;
	color: #fff;
}

.tribe-events #legend li a {
	font-size: 13px;
	border-radius: 2px;
}

/* Calendar top padding */
.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
	padding-top: 0;
}

/* Calendar buttons */
.tribe-events-c-events-bar__filter-button-container {
	display: none;
}

/* Undo tribe events modifications to link colors */
#tribe-events-content a,
.tribe-events-meta a {
	color: $color__link;
}
