/* Related post styling */

.jp-relatedposts {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
}

#jp-relatedposts h3.jp-relatedposts-headline {
	font-size: 1.25rem;
}

#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a {
	font-weight: 700;
}
