/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";


/******** Older/Newer Link Buttons *********/

.posts-navigation .nav-previous a
.posts-navigation .nav-next a {
	background-color: #202122;
	color: #fff;
	border: 0.08rem solid transparent;
	border-radius: 0.125rem;
	font-size: 1rem;
	line-height: 1;
	padding: 0.3em 0.8em 0.4em;
	transition: .3s all;
}

.posts-navigation .nav-previous a:hover,
.posts-navigation .nav-next a:hover {
	background-color: #54595d;
	border-color: transparent;
	text-decoration: none;
	cursor: pointer;
}
